html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
/* background color body #FFFFFF
 background color section #E5E5E5
 color primary text, color contact #757575
 coloe title text, color link #212121
 background color hero hw1 #2F303A 
 link hover, contact hover  #2196F3*/

body {
  background-color: #ffffff;
  color: #757575;

  font-family: "Roboto", "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.03em;
}
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}

:root {
  --text-primary-color: #757575;
  --text-title-color: #212121;
  --text-nav-color: #2196f3;
  --background-button: #f5f4fa;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.section {
  padding: 94px 0;
}
.no-gap {
  display: block;
}
/* ------------HEADER-------------*/
.header {
  align-items: center;
  padding: 0 15px;

  border-bottom: 1px solid #ececec;
  letter-spacing: 0.02em;
}
.header-container {
  display: flex;
}
.header ul {
  line-height: 1.2;
}
/* site list */
.header-nav {
  display: flex;
}
/* ------------LOGO NAV AND FOOTER------------- */
.logo {
  padding: 24px 0 25px 0;

  font-family: "Raleway";
  font-size: 26px;
  color: #000000;

  text-decoration: none;
  letter-spacing: 0.03em;
}
.logo .blue {
  color: var(--text-nav-color);
}

/*------------HEADER SITE NAV-------------*/
.site-nav {
  display: flex;
  margin-left: 93px;
}
.site-nav .site-list + .site-list {
  margin-left: 50px;
}
.site-list {
  display: block;
  padding: 32px 0 32px 0;
}
.site-nav .link {
  font-weight: 500;
  text-decoration: none;
  color: var(--text-title-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--text-nav-color);
}
.site-nav .link-current {
  font-weight: 500;
  text-decoration: none;
  color: var(--text-nav-color);
}
/* ------------HEADER CONTACT------------- */
.contact {
  display: flex;
  margin-left: auto;
  padding: 32px 0 32px 0;
  justify-content: center;
  align-items: center;
}

.contact-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mail {
  margin-right: 10px;
  fill: currentColor;
}
.contact-list + .contact-list {
  margin-left: 50px;
}
.contact-nav {
  color: var(--text-primary-color);

  text-decoration: none;
  font-weight: 500;
}
.contact .contact-nav:hover,
.contact .contact-nav:focus {
  color: var(--text-nav-color);
}

/*------------FOOTER-------------*/
.footer {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;

  line-height: 1.7;

  background-color: #2f303a;
  color: #fff;
}
.container-footer {
  display: flex;
  float: left;
}
.footer-box {
  display: block;
}
.footer-logo {
  font-family: "Raleway";
  font-size: 26px;

  color: #fff;
  text-decoration: none;
}
.footer-logo .blue {
  margin: 0;
  padding: 0;

  color: var(--text-nav-color);
}
.fooret-address {
  /* display: block; */
  font-style: normal;
}
.paragraph {
  margin-top: 20px;
  display: block;
}
.footer-list {
  margin-top: 9px;
}
.list {
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.footer ul {
  font-style: normal;
}
.logo-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-social {
  margin-left: 70px;
  margin-top: 12px;
}
.logo-title {
  margin-bottom: 20px;

  font-size: 14px;
  text-transform: uppercase;
}
.footer-social-title {
  display: flex;
  justify-content: center;
  float: left;
}
.footer-social-item + .footer-social-item {
  margin-left: 10px;
}
.footer-social-link {
  width: 44px;
  height: 44px;
  background-color: #ffffff1a;
  color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.footer-social-icon {
  fill: currentColor;
}
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--text-nav-color);
  color: #fff;
}
