html {
  box-sizing: border-box;
}
body {
  background-color: #ffffff;
  color: #757575;

  font-family: "Roboto", "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.03em;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
.section {
  padding: 94px 0;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}