:root{
--body-color: #ffffff;
--color-section: #e5e5e5;
--text-primary-color: #757575;
--logo-color: #afb1b8;
--text-title-color: #212121;
--text-nav-color: #2196f3;
--background-button: #f5f4fa;
--buttom-hover: #188ce8;}